@import "tailwindcss";

@theme {
  --font-sans: 'DM Sans', sans-serif;
}

html, body, #root {
  background-color: #F9F7F2;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #F9F7F2; }
::-webkit-scrollbar-thumb { background: #e0ddd7; border-radius: 10px; }
::-webkit-scrollbar-thumb:hover { background: #c9c5be; }